{:runtime {:name "dev"
           :db {:dbtype "mysql"
                :host "localhost"
                :port 3306
                :user "user"
                :password "password"
                :dbname "dbname"}
           :redis {:host "localhost"
                   :port 6379}}}
